<%=content_for :header, 'Personal Information'%>
<div class='notice'>Welcome to Grantify. In order to use the application, we require all of the following information to be filled. </div>
<br/>
<br/>
<div class='new'>
	<% form_for current_user do |f| %>
		<%= f.label :name %> <%= f.text_field :name %><br />
		<%= f.label :phone %><%= f.text_field :phone %><br />
		<%= f.label :department %> <%= f.text_field :department %><br />
		<%= f.label :student_number %> <%= f.text_field :student_number %><br />
		<%= f.label :degree %> <%= f.text_field :degree %><br />
		<%= f.label :year %> <%= f.text_field :year %><br />
		<%= f.submit 'Submit!' %>
	<% end %>
</div>