<%=content_for :header, 'Edit: ' + @grant.conference_name%>
<%= link_to 'Back to the application', grant_path(@grant) %>
<br />
<br />
<br />
<div class='new'>
	<% form_for @grant do |f| %>
		<h2>Conference Details</h2>
		<div style="clear:both"></div>
		<%= f.label :conference_name %> <%= f.text_field :conference_name %><br />
		<%= f.label 'Region of the conference' %> <%= select_tag :region, options_for_select('A' => '0','B' => 1,'C' => 2,'D' => 3,'E' => 4,'Other' => 5) %>
		<div style="clear:both"></div>
		<%= f.label 'Have you previously applied?' %> <%= select_tag :prev_apply, options_for_select('No' => false,'Yes' => true) %><br />
		<div style="clear:both"></div>
		<%= f.label :conference_date %> <%= f.text_field :conference_date %><br />
		<%= f.label :registration_cost %> <%= f.text_field :registration_cost %><br />
		<%= f.label :transportation_cost %> <%= f.text_field :transportation_cost %><br />
		<%= f.label :accommodation_cost %> <%= f.text_field :accommodation_cost %><br />
		<%= f.label :meal_cost %> <%= f.text_field :meal_cost %>
		<h2>External Financial Assistance</h2>
		<small>If you will not receive any external financial assistance, leave these blank.</small><br/><br/>
		<%= f.label :department_assis, 'Department assistance' %> <%= f.text_field :department_assis %><br />
		<%= f.label :faculty_assis, 'Faculty assistance' %> <%= f.text_field :faculty_assis %><br />
		<%= f.label :other_assis, 'Other assistance' %> <%= f.text_field :other_assis %><br />
		<br />
		<%= f.submit 'Save Application' %>
	<% end %>
</div>