<%=content_for :header, @grant.conference_name%>
<%= content_for :javascript, javascript_include_tag("facebox.js")%>
<script language="javascript" type="text/javascript">  
jQuery(document).ready(function($) {
	$('a[rel*=facebox]').facebox();
});
</script>

<%if @grant.status == Grant::STATUS[:REJECTED]%>
	<div class='alert'> This grant application has been rejected</div>
<%end%>
<%if @grant.status == Grant::STATUS['IN PROCESS']%>
	<div class='notice'> This grant application is pending approval.</div>
<%end%>
<%if @grant.status == Grant::STATUS[:TEMPORARY]%>
	<div class='notice'> This grant application has been approved, and is now waiting for fund distribution.</div>
<%end%>
<%if @grant.status == Grant::STATUS[:EDITING]%>

<%if !@grant.valid?%>
	<div class='notice'>Before you can submit this application, you will need to edit and fill in all of the forms.</div>
<%end%>
	<%if @grant.valid?%>
		<%= button_to 'Submit this application', { :action => "submit", :id => @grant.id },
		            :confirm => "Are you sure you want to submit?", :method => :post,:style=>'float:left' %>
	&nbsp;&nbsp;
	<%end%>
	<%= link_to 'Edit this application', edit_grant_path(@grant) %>
<%end-%>
<%if is_admin? and @grant.status == Grant::STATUS['IN PROCESS']%>
	&nbsp;<%= link_to "Accept", {:action => :accept, :id => @grant.id}, :method => :post %>
	&nbsp;<%= link_to "Reject", {:action => :reject, :id => @grant.id}, :method => :post %>
<%end%>
<br />
<div style="clear:both"></div>
<div class='details' style='float:left;width:550px;'>
		<h2>Conference Details</h2>
			<label>Conference name:</label><%=@grant.conference_name%>
			<div style="clear:both"></div><br/>
			<label>Conference date:</label><%=@grant.conference_date%>
			<div style="clear:both"></div><br/>
			<label>Region of the conference:</label><%=@grant.get_region_name%>
			<div style="clear:both"></div><br/>
			<label>Previously applied?:</label><%=@grant.prev_apply ? 'yes':'no'%>
			<div style="clear:both"></div><br/>
			<label>Registration Cost:</label><%=@grant.registration_cost%>
			<div style="clear:both"></div><br/>
			<label>Transportation Cost:</label><%=@grant.transportation_cost%>
			<div style="clear:both"></div><br/>
			<label>Accommodation Cost:</label><%=@grant.accommodation_cost%>
			<div style="clear:both"></div><br/>
			<label>Meal Cost</label><%=@grant.meal_cost%>
			<div style="clear:both"></div><br/>
		<h2>External Financial Assistance</h2>
			<label>Department assistance:</label><%=@grant.department_assis%>
			<div style="clear:both"></div><br/>
			<label>Faculty assistance:</label><%=@grant.faculty_assis%>
			<div style="clear:both"></div><br/>
			<label>Other assistance:</label><%=@grant.other_assis%>
			<div style="clear:both"></div><br/>
	<br/>
</div>
<br/>
<span style='float:right'>Tracking #: <%=@grant.tracking_number%></span>
<div class='minimap'><a href="/images/map.jpg" rel='facebox'><%=image_tag('minimap.jpg')%></a></div>
<div style="clear:both"></div>
<h2>Comments</h2>
<%-if is_admin?%>
	<% form_for [@grant, @comment] do |f| %>
		<%= f.label :message, 'Add a new comment' %><br /><%= f.text_area :message %><br />
		<%= f.submit 'Post' %>
	<% end-%>
<%end-%>
<%= render :partial => 'comments/comment', :collection => @comments, :locals => {:grant=>@grant}%>
<%-if @comments.empty?%>
	<small> You have no comments on this application yet.
<%end-%>

