<%=content_for :header, @grant.conference_name%>
<%= link_to 'Edit this application', edit_grant_path(@grant) %>
<br />
<div class='details' style='float:left;width:550px;'>
		<h2>Conference Details</h2>
			<label>Conference name:</label><%=@grant.conference_name%>
			<div style="clear:both"></div><br/>
			<label>Region of the conference:</label><%=@grant.region%>
			<div style="clear:both"></div><br/>
			<label>Previously applied?:</label><%=@grant.prev_apply%>
			<div style="clear:both"></div><br/>
			<label>Registration Cost:</label><%=@grant.registration_cost%>
			<div style="clear:both"></div><br/>
			<label>Transportation Cost:</label><%=@grant.transportation_cost%>
			<div style="clear:both"></div><br/>
			<label>Accommodation Cost:</label><%=@grant.accommodation_cost%>
			<div style="clear:both"></div><br/>
			<label>Meal Cost</label><%=@grant.meal_cost%>
			<div style="clear:both"></div><br/>
		<h2>External Financial Assistance</h2>
			<label>Department assistance:</label><%=@grant.department_assis%>
			<div style="clear:both"></div><br/>
			<label>Faculty assistance:</label><%=@grant.faculty_assis%>
			<div style="clear:both"></div><br/>
			<label>Other assistance:</label><%=@grant.other_assis%>
			<div style="clear:both"></div><br/>
	<br/>
</div>
<div class='minimap'><a href="/images/map.jpg" rel='facebox'><%=image_tag('minimap.jpg')%></a></div>
<div style="clear:both"></div>

<h2>Comments</h2>
<%-if is_admin?%>
	<% form_for [@grant, @comment] do |f| %>
		<%= f.label :message, 'Add a new comment' %><br /><%= f.text_area :message %><br />
		<%= f.submit 'Post' %>
	<% end-%>
<%end-%>
<%= render :partial => 'comments/comment', :collection => @comments, :locals => {:grant=>@grant}%>

