<!DOCTYPE html>
<html>
<head>
  <title>Grantify</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.min.js"%>
  <%= yield :javascript %>
   
  <%= csrf_meta_tag %>
</head>
<body>
<div id='navbar'>
	<div class='content'>
		<div id='logo'>Grantify</div>
		<%-if user_signed_in?%>
			<%-if is_admin?%>
				<%=section_link('All Applications',:controller => 'grants', :action => 'index')%>
				<%=section_link('Search',:controller => 'grants', :action => 'search')%>
				<%=section_link('Distribute Funds',:controller => 'grants', :action => 'distribute_funds')%>
				<%=section_link('Reports',:controller => 'grants', :action => 'reports')%>
			<%else%>
	  			<%=section_link('Your Applications',:controller => 'grants', :action => 'index')%>
				<%=section_link('Create an Application',:controller => 'grants', :action => 'new')%>
			<%end-%>
			<%=link_to "<div class='resource'>Logout</div>".html_safe,destroy_user_session_path%>
			<%=link_to "<div class='resource'>Settings</div>".html_safe,edit_user_path(current_user)%>
		<%else%>
			<%=link_to "<div class='resource'>Login</div>".html_safe,new_user_session_path%>
		<%end%>
	</div>
</div>


<div id='banner'>
	<div class='content'>
		<h1><%=yield :header%></h1>
		<span id='contact_info'>
			Questions or Problems?
			<br />
			Call 1-800-623-HELP
		</span>
	</div>
</div>

<div id='main_container'>
	<div class='content'>
			<%- if flash[:alert] %>
				<div class="alert">
					<%= flash[:alert] %>
				</div>
			<% end-%>
			<%- if flash[:success] %>
				<div class="success">
					<%= flash[:success] %>
				</div>
			<% end-%>
			<%- if flash[:notice] %>
				<div class="notice">
					<%= flash[:notice] %>
				</div>
			<% end-%>
		<%= yield %>
		<%#= debug params%>
	</div>
</div>

<div id='footer'>
	<div class='content'>
		<center>
			<span><%=link_to 'Terms of Use',""%></span> | 
			<span><%=link_to 'Privacy Policy',""%></span> | 
			<span><%=link_to 'Contact',""%></span>
		</center>
	</div>
</div>

</body>
</html>
